.pt-4, .py-4 {
    padding-top: 0px !important;
}
.top-navbar {
    background: $white !important;
    z-index: 99999 !important;
    width: 100% !important;
}
.top-navbar .navbar-btn {
    display: block !important;
}

.home, .profile, .activity, .employees {
    #left-sidebar {
        box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.1);
        .user-account {
            .dropdown {
                padding: 7px 15px;
            }
        }
        .dropdown ul {
            left: 0px !important;
            li {
                padding: 5px 10px;
            }
        }
        .navbar-brand {
            .Incentavize-Logo-Design-PNG {
                width: 175px;
            }
        }
        .metismenu {
            a {
                color: $black;
            }
        }
        .bottommenu {
            position: fixed;
            bottom: 30px;
            li {
                -webkit-box-flex: 1;
                -ms-flex: 1 1 0%;
                flex: 1 1 0%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                position: relative;
            }
            a {
                display: block;
                vertical-align: middle;
                font-size: 15px;
                position: relative;
                outline-width: 0px;
                transition: all 0.3s ease-out 0s;
                border-radius: 0.1875rem;
                padding: 7px 0px;
                color: $black;
            }
            i {
                position: relative;
                top: 1px;
                width: 28px;
                line-height: 28px;
                text-align: center;
                border-radius: 3px;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }
    #main-content {
        .block-header {
            h1 {
                color: $black;
                font-size: 36px;
            }
        }
        .card {
            .body {
                text-align: center;
                h2 {
                    color: $main_color;
                }
                span {
                    font-size: 20px;
                    color: $black;
                }
            }
            th {
                background: transparent;
            }
            tr {
                background: transparent;
                border: none;
                td {
                    border-top: 1px solid #f5f5f5;
                }
            }
        }
        .header {
            width: 100%;
            padding: 15px;
            h2 {
                font-size: 25px;
            }
        }
        .tab-menu {
            list-style: none;
            color: $black;
            font-size: 17px;
            padding-top: 50px;
            padding-left: 0px;
            li {
                text-align: center;
                width: 200px;
                margin: 0px 10px;
                display: inline-block;
                padding: 7px 15px;
                cursor: pointer;
                &:hover {
                    color: $white;
                    background: $select-color;
                    border-radius: 10px;
                }
            }
            .selected {
                background: $blue;
                color: $white;
                border-radius: 10px;
            }
        }

        .div-all-activity {
            display: none;
        }
        .div-payments {
            display: none;
        }
        .div-tips {
            display: none;
        }
        .div-feedback {
            display: none;
        }
        .div-existing-users {
            display: none;
        }
        .div-invite-new {
            display: none;
        }
        &.all-selected {
            .div-all-activity {
                display: block;
            }
        }
        &.payments-selected {
            .div-payments {
                display: block;
            }
        }
        &.tips-selected {
            .div-tips {
                display: block;
            }
        }
        &.feedback-selected {
            .div-feedback {
                display: block;
            }
        }
        &.existing-selected {
            .div-existing-users {
                display: block;
            }
        }
        &.invite-new-selected {
            .div-invite-new {
                display: block;
            }
        }
    }
}
.form-control {
    border-color: #DCDFE6 !important;
}
.navbar .navbar-right li a {
    font-size: 16px;
    color: $black !important;
}
#accordion {
    margin-top: 40px;
    .panel-title {
        a {
            color: $black !important;
            font-weight: bold;
            font-size: 20px;
        }
        .required {
            margin-left: 15px;
            padding: 7px 15px;
            background: $blue;
            font-size: 15px;
            font-weight: normal;
            color: $white;
        }
        .recommended {
            margin-left: 15px;
            padding: 7px 15px;
            background: transparent;
            font-size: 15px;
            font-weight: normal;
            color: gray;
            border: 1px solid gray;
        }
        .expand {
            float: right;
            font-size: 17px;
            font-weight: normal;
            color: $black;
        }
    }
    .panel-body {
        padding: 20px;
        label {
            color: $black;
            font-size: 17px;
            font-weight: bold;
            width: 100%;
        }
        input, select {
            max-width: 300px;
        }
        input {
            margin-bottom: 15px;
        }
    }
}
.profile {
    .profile-complete {
        padding-top: 0px;
    }
}
.profile-complete {
    padding-top: 100px;
    .profile-reset-btn {
        width: 46%;
        padding: 7px 15px;
        background-color: $main_color;
        border: none;
        margin-top: 0px;
    }
    a {
        color: #fff !important;
        cursor: pointer;
    }
    .btn-save-continue {
        width: 100%;
        padding: 7px 15px;
        background-color: $main_color;
        border: none;
    }
    .btn-add-department {
        width: 100%;
        padding: 7px;
        background-color: $main_color;
        border: none;
    }
    .department-list {
        list-style: none;
        column-count: 2;
        input {
            width: 80%;
        }
        i {
            color: #f00;
            font-size: 25px;
            padding: 7px 15px;
        }
    }
    #avatarFile, #backgroundFile {
        display: none;
    }
    textarea {
        border-radius: 10px;
        padding: 10px;
        border-color: #DCDFE6;
        width: 100%;
        height: 100px;
    }
    .img_profile {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 3px solid #eee;
        position: absolute;
        z-index: 999;
        top: 10%;
        left: 27%;
        cursor: pointer;
    }
    .img_profile_btn {
        width: 33px;
        position: absolute;
        z-index: 9999;
        top: 19%;
        left: 60%;
        cursor: pointer;
        img{
            width: 33px;
            border-radius: 50%;
        }
    }
    .img_back_btn {
        width: 33px;
        position: absolute;
        z-index: 9999;
        bottom: 7%;
        right: 7%;
        cursor: pointer;
        img{
            width: 33px;
            border-radius: 50%;
        }
    }
    .img_profile_back {
        width: 100%;
        opacity: 0.8;
    }
    .left-btn {
        width: 46%;
        padding: 7px 15px;
        background-color: $main_color;
        border: none;
    }
    input {
        display: inline-block;
        height: 47px;
        width: 100%;
        background: transparent;
        border: 1px solid #DCDFE6;;
        -webkit-appearance: none;
        border-radius: 6px;
        padding: 12px 5px 12px 15px;
        color: $black;
        height: 35px;
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
            -webkit-text-fill-color: #000 !important;
        }
    }
}

.profile-header {
    h3 {
        color: #000;
    }
}

.card .body, .card .card-body {
    background: $white !important;
}

.card {
    border: 1px solid $border_color !important;
}
.employees {
    #main-content {
        .invite-new {
            padding-top: 0px;
            .card .body {
                text-align: left;
            }
        }
    }
}
.invite-new {
    padding-top: 100px;
    .department-select {
        height: 35px;
        width: 80%;
        background: transparent;
        border: 1px solid #DCDFE6;;
        color: $black;
    }
    .error {
        margin-top: 100px;
        text-align: center;
        h4 {
            color: $black;
            margin-top: 40px;
        }
        p {
            color: $black;
        }
    }
    .btn-add-staff {
        color: $black !important;
        font-size: 18px;
        i {
            padding: 7px 15px;
        }
    }
    .btn-invite-skip {
        width: 46%;
        max-width: 100px;
        padding: 7px 15px;
        background-color: $main_color;
        border: none;
        margin-top: 0px;
        margin-right: 30px;
    }
    .btn-save {
        width: 46%;
        max-width: 100px;
        padding: 7px 15px;
        background-color: $main_color;
        border: none;
    }
    .btn-remove-staff {
        font-size: 20px;
        i {
            color: #f00;
            padding: 0px 7px;
        }
    }
    a {
        color: #fff !important;
        cursor: pointer;
    }
    input {
        display: inline-block;
        width: 100%;
        background: transparent;
        border: 1px solid #DCDFE6;;
        -webkit-appearance: none;
        border-radius: 6px;
        padding: 12px 5px 12px 15px;
        color: $black;
        height: 35px;
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
            -webkit-text-fill-color: #000 !important;
        }
    }
}
@media only screen and (max-width: 500px) {
    .home {
        .top-navbar {
            display: block;
        }
    }
}