html, body {
    background-color: #fff;
}

.navbar-logo {
    object-fit: contain;
}

.navbar {
    padding: 30px 0px;
    border-bottom: 1px solid $border_color;
    .navbar-right {
        li {
            a {
                text-decoration: none;
                font-size: 24px;
                color: $black;
                padding: 7px 15px;
                &:hover {
                    background-color: $main_color;
                    color: $white;
                    border-radius: 15px;
                }
            }
        }
    }
}

main.login {
    background-color: #fff;
}

main.dashboard {
    background-color: #fff;
}

.login-container {
    margin-top: 50px;
    border: 1px solid $border_color;
    .login-caps {
        width: 150px;
        margin-bottom: 40px;
    }
    .invalid-feedback {
        width: auto;
        float: right;
        display: inline;
    }
    .card-body {
        padding: 40px;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    .form-control {
        border-radius: 10px;
    }
}

.navbar-brand {
    margin: auto;
    padding-top: 45px;
}

.Member-Login {
    font-family: Gilroy;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-bottom: 40px;
}

.Reset-your-password {
    font-family: Gilroy;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-bottom: 70px;
}

.remember-div {
    text-align: left;
    span {
        font-family: Gilroy;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: rgba(68, 68, 68, 0.69);
        padding: 7px;
    }
    a {
        text-decoration: underline;
        cursor: pointer;
        padding: 7px 15px;
    }
}

.agree-div {
    padding: 7px 15px;
    #checkbox_agree {
        height: 15px;
        width: 20px;
        display: inline-block;
    }
}

.login-btn {
    width: 100%;
    margin-top: 20px;
    padding: 7px 15px;
    background-color: $main_color;
    border: none;
    height: 50px;
}
.reset-btn {
    width: 100%;
    padding: 7px 15px;
    background-color: $main_color;
    border: none;
    height: 50px;
    margin-top: 30px;
}
.register-btn {
    width: 100%;
    padding: 7px 15px;
    background-color: $main_color;
    border: none;
    height: 50px;
    margin-bottom: 150px;
}

.forget-pass {
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    .btn-link {
        color: $main_color;
        padding: 0px;
        text-decoration: none;
    }
}

.login-footer {
    margin-top: 30px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
    a {
        cursor: pointer;
        color: $main_color;
        text-decoration: none;
    }
}

.Group-5 {
    width: 400px;
    height: 438px;
    object-fit: contain;
}

.Group-7 {
    width: 400px;
    height: 464px;
    object-fit: contain;
}

@media only screen and (max-width: 500px) {
    .forget-pass {
        text-align: left;
        margin-top: 20px;
    }
}